body{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}
h1{
    font-family:'bebas Neue', 'Roboto', 'Montserrat';
    font-size: 12vw;
    height: 20vh;
    margin-top: 0;
    padding: 10vh;
}
#buttons{
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 50vh;
}
.buttonRandom{
    font-family:'Roboto', 'Montserrat', 'bebas Neue' ;
    padding: 3vh;
    font-size: 2vw;
}
#buttonFilm{
    font-family:'Roboto', 'Montserrat', 'bebas Neue' ;
    padding: 3vh;
    font-size: 2vw;
    margin-top: 1vh;
    width: 51.5%;
}
h2{
    font-family:'bebas Neue', 'Roboto', 'Montserrat';
}
p{
    font-family:'Roboto', 'Montserrat', 'bebas Neue' ;
}
#film{
    display: flex;
    align-items: center;
}
#filmTitre{
    margin-top: 40vh;
    flex : 1;
    font-size: 5rem;
}
#filmSpoil{
    flex: 1;
    position: absolute;
    font-size: 20vw;
    margin-top : -150px;
    height: 100vh;
    color: deeppink;
    padding-top: 0;
    margin-top: 0;
    
}